# Objectives
- Querying data files
- Writing to tables
- Performing advanced ETL operations
- Discover the potential of higher-order functions and user-defined functions (UDFs) in Spark SQL

# Querying Data Files
To initiate a file query, we use the SELECT * FROM syntax, followed by the file format and the path to the file. 
```sql
SELECT * FROM file_format.`/path/to/file`
```
The filepath is specified between **backticks**, to prevent potential syntax errors and ensure the correct interpretation of the path. 

A filepath in this context can refer to 
- A single file
- A wildcard character to simultaneously read multiple files; or
- An entire directory, assuming that all files within that directory adhere to the same format and schema